#searchbar{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    
}
@media (max-width: 768px) {
    #searchbar{
        margin-left: 10%;
        margin-right: 10%;
    }
}
#searchbtn:hover{
    background-color: rgb(191, 223, 247);
    transition: 0.3s ease-in-out;
}